<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.simpleproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FunFactActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!--And for each mipmap resolution there was a  ic_launcher_round.png file given to us by android studio. You can specify both round and square icons for
 android studio folders. But for this project we only had square icons therefore, we deleted each of those folders and updated the manifest file
 as well by deleting the line below under the application tag.
 android:roundIcon="@mipmap/ic_launcher_round"

 -->